* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.wrap-container {
  width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrap-head {
  text-align: center;
}

.headline {
  padding-top: 0.5em;
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 1px;
}

.wrap-add {
  padding: 5vh 1vw 1vh 1vw;
  display: flex;
  justify-content: space-between;
}

.cost-name-wrap {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.cost-value-wrap {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.cost-name {
  margin-top: 5px;
  border: none;
  border-radius: 7px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 5px;
  color: red;
}

.cost-value {
  margin-top: 5px;
  border: none;
  border-radius: 7px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 5px;
  color: red;
}

.add-cost {
  border: none;
  border-radius: 7px;
  width: 5vw;
  background: navy;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 25px;
}

label {
  font-size: 18px;
  padding-left: 2px;
}

.add-cost:hover {
  opacity: 0.7;
  cursor: pointer;
}

#wrap-all-summ {
  padding-top: 20px;
  text-align: end;
}

.summa {
  padding-right: 7vw;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
}

.cost-btn {
  width: 2vw;
  cursor: pointer;
}

.cost-btn:hover {
  opacity: 0.7;
}

#wrap-task-container {
  margin-top: 5vh;
  overflow-y: scroll;
  height: 45vh;
}

#wrap-task-container::-webkit-scrollbar { 
  width: 0; 
}
#wrap-task-container { 
  -ms-overflow-style: none; 
}
#wrap-task-container { 
  overflow: -moz-scrollbars-none; 
}

.cost-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  border-top: 2px solid black;
  padding: 2vh 2vw;
  margin-top: 1.5vh;
  align-items: center;
}

.cost-container:first-child {
  border: none;
}

.wrap-text {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.cost-cost {
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.wrap-buttons {
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;
}

.editNow {
  border-radius: 7px;
  border: none;
  font-size: 20px;
  font-weight: 100;
  height: 5vh;
  padding-left: 5px;
}

.textNow {
  width: 70%;
}

.valueNow {
  width: 20%;
  text-align: center;
}
